			body::-webkit-scrollbar {
				display: none;
			}
			.container {
				background-color: #f2f5f7;
				height: 100vh;
			}
			.container .title {
				font-size: 32px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 80px;
				background-color: #88B3DA;
				color: #fff;
				display: flex;
				align-items: center;
				gap: 10px;
			}
			.title img {
				width: 75px;
			}
			.title a {
				margin-left: 57%;
				text-decoration: none;
				color: #fff;
				font-weight: 500;
				background-color: #6A8BB4;
				padding: 8px 16px;
				border-radius: 20px;
				font-size: 14px;
				font-weight: bold;
				transition: background-color 0.3s, transform 0.2s;
			}
			.title a:hover {
				transform: translateY(-2px);
				background-color: #56729A;
			}
			.tools {
				position: relative;
				left: 15%;
				top: 30px;
				width: 1100px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.search-box {
				display: flex;
				align-items: center;
				width: 400px;
				border-radius: 20px;
				box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
				background-color: #ffffff;
			}
			.search-box input {
				width: 100%;
				padding: 10px 10px 10px 30px;
				border: none;
				outline: none;
				background: transparent;
				font-size: 16px;
			}
			i.fa-magnifying-glass {
				position: relative;
				left: 4%;
				font-size: 16px;
			}



			.dropdown-container {
				width: 300px;
			}
			.dropdown-button {
				display: flex;
				justify-content: flex-end;
				gap: 10px;
			}
			.dropdown-button button {
				background-color: #6A8BB4;
				color: #fff;
				padding: 10px 20px;
				border-radius: 20px;
				font-weight: bold;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
				display: flex;
				align-items: center;
				gap: 8px;
				border: none;
				transition: background-color 0.3s, transform 0.2s;
			}
			.dropdown-button button:hover {
				background-color: #5a7aa2;
				transform: translateY(-2px);
			}
			.dropdown-button button label,
			.dropdown-button button i {
				cursor: pointer;
			}
			.filter-container {
				width: 300px;
				border: 1px solid #D0D4D9;
				border-radius: 8px;
				display: none;
				margin-top: 10px;
				position: absolute;
				z-index: 1;
				background-color: #F9FBFD; /* Light background */
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
			}

			.filter-container span {
				font-size: 16px;
				font-weight: 600;
				padding: 15px 10px;
				display: block;
				border-bottom: 1px solid #D0D4D9;
				background-color: #E8F0FE;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			.filter-group {
				border-bottom: 1px solid #E0E4EA;
				padding: 10px;
			}

			.filter-title {
				font-size: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-bottom: 10px;
			}

			select {
				width: 100%;
				height: 35px;
				padding-left: 10px;
				margin-bottom: 15px;
				border: 1px solid #D0D4D9;
				border-radius: 5px;
				background-color: #FFF;
				font-size: 16px;
				color: #333;
				cursor: pointer;
			}

			.filter-title a {
				color: #527092;
				text-decoration: none;
				font-weight: bold;
				font-size: 14px;
			}

			.filter-title a:hover {
				color: #3A5E8C;
			}

			.actions {
				padding: 10px;
				display: flex;
				justify-content: space-between;
			}

			button.reset-btn, button.apply-btn {
				padding: 8px 16px;
				border-radius: 20px;
				border: none;
				font-weight: bold;
				color: #FFF;
				cursor: pointer;
				transition: background-color 0.3s;
				background-color: #6A8BB4;
			}

			button.reset-btn:hover,
			button.apply-btn:hover {
				background-color: #5a7aa2;
			}
			.card_container {
				padding-bottom: 50px;
				padding-left: 130px;
				padding-top: 40px;
				background-color: #f2f5f7;
			}
			.card-container {
				margin-bottom: 70px;
			}
			.card-container ul {
				display: flex;
				gap: 20px;
				position: relative;
				left: 8%;
				top: 55px;
				font-size: 20px;
			}
			input[type="checkbox"] {
				width: 20px;
			}

			.card-grid {
				position: relative;
				left: 8%;
				top: 70px;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 30px;
				width: 0;
			}
			.card {
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 340px;
				border-radius: 20px;
				padding: 15px;
				text-decoration: none;
				color: #000000;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				background-color: #ffffff;
				transition: transform 0.3s, box-shadow 0.3s;
				cursor: pointer;
			}

			.card:hover {
				transform: translateY(-5px);
				box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
				background-color: #ededed;
			}
			.card .details {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 200px;
				gap: 8px;
			}
			.image i {
				font-size: 36px;
			}
			span.type {
				font-size: 20px;
			}
			.card-nothing {
				display: flex;
				justify-content: center;
				width: 340px;
				border-radius: 20px;
				padding: 15px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				background-color: #ffffff;
			}




			.swal-body {
				margin-top: 20px;
			}
			.sub-body {
				display: flex;
				justify-content: space-around;
			}
			i.fa-xmark {
				position: relative;
				left: 50%;
				cursor: pointer;
				font-size: 25px;
			}
			.swal-wide {
				width: 1300px;
				height: 1200px;
			}
